<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<a routerLink="/first">First Component</a>
<br>
<a routerLink="/second">Second Component</a>
<br>
<a routerLink="/third">Third Component</a>
<br>
<a routerLink="/fourth">Fourth Component</a>
<router-outlet></router-outlet>

<ng-container *ngIf="showUser">
    <h1>{{title | uppercase}}</h1>
    <h1>{{jsonValue | json}}</h1>
    <h1>{{newDate | date:'short'}}</h1>
    <h1>{{title2 | truncate}}</h1>
    <!-- <button (click)="handleEvent()">Push!</button> -->
    <button (click)="handleHttpRequest()">Get Request!</button>
    <input type="text" placeholder="key down" [(ngModel)]="title" (keydown)="handleKeyDown()">

    <input placeholder="user" [(ngModel)]="userObject.id">
    <input placeholder="user" [(ngModel)]="userObject.name">
    <input placeholder="user" [(ngModel)]="userObject.age">
    <br>

    <app-user [user]="userObject" (userCustomEvent)="handleEvent($event)"></app-user>
    <br>
    <br>

    <ul *ngFor="let item of posts">
        <li>{{item.id}}</li>
        <li>{{item.title}}</li>
        <li>{{item.body}}</li>
    </ul>
</ng-container>
<button (click)="handleShowUser()">Show User!</button>
<br>
<br>
<button (click)="goToRoute()">Go To Fourth Component</button>
<br>
<br>
<button (click)="modifyFormControl()">Modify Form Control</button>
<br>
<input type="text" [formControl]="testProp" name="testProp">
{{testProp.value}}
<!-- <router-outlet></router-outlet> -->